body {
    /* background-color: rgb(30, 30, 30); */
    /* BLUE = rgb(156, 220, 254) */
    /* DARK = rgb(30, 30, 30) */
    background-color: rgb(37, 37, 38);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.container{
    width: 80%;
    margin: auto;
}   

.sub-container{
    width: 49%;
    display: inline-block;
}

.header{
    background-color: rgb(30, 30, 30);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.input-div {
    width: 95%;
    margin-bottom: 10px;
}
.user-input{
    width: 100%;
}

.result-value{
    float: right;
}

.result{
    width: 100%;
    margin-bottom: 20px;
}

.invalid-input{
    background-color: rgb(255, 80, 80);
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px; */
    border-radius: 3px;
    width: 100%;
}